.archive .more-games ul li {
  display: list-item !important;
  margin: 0;
}

.archive .more-games ul li:last-child a::before {
  mask-image: url("../media/calendar-full.svg");
}


.archive .more-games ul li a.tech::before { mask-image: url("../media/laptop.svg"); }
.archive .more-games ul li a.music::before { mask-image: url("../media/music-note.svg"); }
.archive .more-games ul li a.food::before { mask-image: url("../media/dinner.svg"); }
.archive .more-games ul li a.sports::before { mask-image: url("../media/bicycle.svg"); }
.archive .more-games ul li a.world::before { mask-image: url("../media/earth.svg"); }
.archive .more-games ul li a.art::before { mask-image: url("../media/picture.svg"); }
.archive .more-games ul li a.animals::before { mask-image: url("../media/paw.svg"); }
.archive .more-games ul li a.nature::before { mask-image: url("../media/leaf.svg"); }
.archive .more-games ul li a.science::before { mask-image: url("../media/rocket.svg"); }
.archive .more-games ul li a.movies::before { mask-image: url("../media/film-play.svg"); }
.archive .more-games ul li a.fun::before { mask-image: url("../media/diamond.svg"); }
.archive .more-games ul li a.clothes::before { mask-image: url("../media/shirt.svg"); }

.archive.section main ul,
.archive.section main ol {
  display: grid;
  font-size: clamp(8px, 2vmin, 20px);
  grid-template-columns: repeat(5, 1fr);
  gap: 0.75em;
  margin-inline: auto;
  max-width: 800px;
  padding-inline-start: 0em;
  width: 100%;
}

.archive .more-games ul li a {
  gap: 0.125em;
}

@media (min-width: 768px) {
  .archive.section main ul,
  .archive.section main ol {
    font-size: clamp(12px, 1.5vmin, 20px);
    gap: 0.75em;
    grid-template-columns: repeat(7, 1fr);
  }

  .archive.section main ul a,
  .archive.section main ol a {
    gap: 0em;
  }
}

@media (min-width: 1300px) {
  .archive.section main ul,
  .archive.section main ol {
    font-size: clamp(12px, 1.75vmin, 20px);
    gap: 0.75em;
    grid-template-columns: repeat(7, 1fr);
  }
}

/******* CALENDAR **********/
.calendar-container {
  max-width: 800px;
  margin: auto auto;
  margin-block-end: 3em;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
}

.calendar-header h2 {
  text-align: center;
}

.calendar-header h2::before {
  content: none;
}

.calendar-header button {
  background: none;
  border: 0;
  position: relative;
  width: 2em;
  height: 2em;
  border-radius: 0.5em;
  cursor: pointer;
  filter: drop-shadow(1px 0) drop-shadow(1px 0);
}

.calendar-header button::after {
  background: currentcolor;
  content: "";
  height: 1.5em;
  inset-inline-end: 0;
  mask-image: url(../media/chevron-right.svg);
  mask-size: contain;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  width: 1.5em;
}

.calendar-header button:hover::after {
  background: var(--accent);
}


.calendar-header button[disabled]::after {
  background: currentcolor;
}
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.25em;
}

.calendar-days {
  margin-block-end: 1.5em;
}

.calendar-days div {
  text-align: center;
  font-size: 0.75em;
  font-weight: 700;
}

.calendar-dates {
  font-size: clamp(12px, 1.75vmin, 20px);
  gap: 0.5em;
}

@media (min-width: 768px) {
  .calendar-dates {
    gap: 0.75em;
  }
}

.calendar-date {
  align-items: center;
  aspect-ratio: 1;
  border: 2px solid;
  border-radius: 0.5em;
  gap: 0.35em;
  display: flex;
  justify-content: center;
  min-height: 2.75em;
}

.calendar-date.is-available {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 1.125em;
  gap: 0.25em;
  height: 100%;
  inset: 0;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

@media (min-width: 1300px) {
  .calendar-date.is-available {
    font-size: 1.25em;
  }
}

.calendar-date.is-available::before {
  background: currentColor;
  content: "";
  display: inline-block;
  height: 2em;
  mask-image: url("../media/calendar-full.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  width: 2em;
}

.calendar-date.is-available.tech::before { mask-image: url("../media/laptop.svg"); }
.calendar-date.is-available.music::before { mask-image: url("../media/music-note.svg"); }
.calendar-date.is-available.food::before { mask-image: url("../media/dinner.svg"); }
.calendar-date.is-available.sports::before { mask-image: url("../media/bicycle.svg"); }
.calendar-date.is-available.world::before { mask-image: url("../media/earth.svg"); }
.calendar-date.is-available.art::before { mask-image: url("../media/picture.svg"); }
.calendar-date.is-available.animals::before { mask-image: url("../media/paw.svg"); }
.calendar-date.is-available.nature::before { mask-image: url("../media/leaf.svg"); }
.calendar-date.is-available.science::before { mask-image: url("../media/rocket.svg"); }
.calendar-date.is-available.movies::before { mask-image: url("../media/film-play.svg"); }
.calendar-date.is-available.fun::before { mask-image: url("../media/diamond.svg"); }
.calendar-date.is-available.clothes::before { mask-image: url("../media/shirt.svg"); }

.calendar-date.is-available:hover,
.calendar-date.is-available:focus-visible {
  color: var(--accent);
  outline: none;
}

.calendar-date.is-unavailable {
  color: var(--accent);
  opacity: 0.3;
}

.calendar-date.is-empty {
  border: 0;
}

.calendar-nav[disabled] {
  cursor: not-allowed;
  opacity: 0.4;
}