.export {

  &::after {
    bottom: 10px;
    color: var(--text);
    content: "More games at fourconnect.net";
    font-size: 0.875rem;
    opacity: 0.5;
    position: absolute;
    right: 10px;
  }

  .how-to-play,
  .more-games,
  footer,
  nav[aria-label] {
    display: none;
  }

  header {
    background: transparent;
    justify-content: end;
  }

  header > div {
    justify-content: end;
  }

  header .site-title {
    translate: 0 100px;
  }

  .hero.container {
    margin-block-start: 60px;
  }
}
