.export {
  .more-games,
  footer,
  nav[aria-label] {
    display: none;
  }

  header {
    background: transparent;
    justify-content: end;
  }

  header > div {
    justify-content: end;
  }

  header .site-title {
    translate: 0 100px;
  }

  .hero.container {
    margin-block-start: 60px;
  }
}
