:root {
  --footer: #1d264b;
  --footer: var(--accent-text);
  --footer-text: #eee;
  --footer-link: #fff;
  --footer-border: var(--accent-text);
}

@supports (color: light-dark(red, red)) {
  :root {
    --footer: light-dark(#1d264b, var(--accent-text));
    --footer-link: light-dark(var(--accent-text), var(--accent));
    --footer-border: light-dark(var(--accent-text), var(--accent));
  }
}

footer {
  /* --container-max-width: 1400px; */
  background: var(--footer);
  color: var(--footer-text);
  margin-block-start: 3em;
  padding-block: 1em 3em;
}

footer h2 {
  align-items: center;
  display: flex;
  font-family: Poppins, Inter, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.25em;
  font-weight: 500;
  gap: 0.25em;
  margin: 0;
}

footer h2 img {
  border: 0.075em solid #fff;
  border-radius: 20%;
}

.footer-links {
   margin-block: 2em;
}

footer details {
  border-block-end: 1px solid var(--footer-border);
  margin-block-end: 1em;
  padding-block-end: 1em;
  width: 100%;
}

footer summary {
  position: relative;
}

footer summary::after {
  background: var(--footer-text);
  content: "";
  height: 1em;
  inset-inline-end: 0;
  mask-image: url(../media/chevron-right.svg);
  mask-size: contain;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  width: 1em;
}

footer details[open] summary::after {
  rotate: 90deg;
}

footer summary::marker {
  content: none;
}

footer details:last-child {
  border: none;
  margin-block-end: 0;
  padding-block-end: 0;
}

footer h3 {
  display: inline-block;
}

footer ul {
  list-style: "";
  margin: 0;
  padding: 0;
}

footer ul li {
  margin-block: 1em;
}

footer a {
  color: var(--footer-link) !important;
}

@media (min-width: 768px) {
  footer h2 {
    font-size: 1.5em;
  }
}

@media (min-width: 1300px) {
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer-links {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: end;
    margin: 0;
  }

  .footer-links details {
    border: 0;
    margin: 0;
    padding: 0;
    width: auto;
  }

  .footer-links summary::after {
    content: none;
  }

  .footer-links ::details-content {
    content-visibility: visible;
    display: block;
  }
}