:root {
  --header-color: #fff;
  --header-text: #222;
  --header-size: 120px;
  --popup-background: #fff;
  --popup-text: #222;
}

@supports (color: light-dark(red, red)) {
  :root {
    --header-color: light-dark(#fff, #5c467b);
    --header-text: light-dark(#222, #f4f4f4);
    --popup-background: light-dark(#fff, #f5f0fd);
    --popup-text: light-dark(#333, #222);
  }
}

header {
  background: var(--header-color);
  color: var(--header-text);
}

header > div {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

header a {
  align-items: center;
  display: flex;
  font-weight: 400;
  white-space: nowrap;
}

header a::before {
  background: currentColor;
  content: "";
  display: inline-block;
  height: 1.5em;
  margin-inline-end: 0.5em;
  mask-position: 0 50%;
  mask-repeat: no-repeat;
  mask-size: contain;
  width: 1.5em;
}

/* Icons for header links from linearicons.com https://linearicons.com/free */
header a[data-url="home"]::before { mask-image: url("../media/home.svg"); }
header a[data-url="how-to-play"]::before { mask-image: url("../media/map.svg"); }
header a[data-url="archive"]::before { mask-image: url("../media/history.svg"); }
header a[data-url="about"]::before { mask-image: url("../media/user.svg"); }
header a[data-url="faq"]::before { mask-image: url("../media/question-circle.svg"); }


header .site-title {
  align-items: center;
  display: flex;
  font-family: Poppins, Inter, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  gap: 0.25em;
  margin: 0;
}

@media (min-width: 768px) {
  header .site-title {
    font-size: 2em;
  }
}

header .site-title img {
  border: 0.075em solid #fff;
  border-radius: 20%;
}

#menu-toggle {
  background: none;
  border: none;
  color: var(--header-text);
}

#menu-toggle::before {
  background: currentColor;
  content: "";
  display: block;
  height: 2em;
  mask: url(../media/menu.svg) center center no-repeat;
  mask-size: contain;
  padding: 0.25em;
  width: 2em;
}

#menu-toggle[aria-expanded="true"]::before {
  mask-image: url(../media/cross.svg);
}

header nav ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.loaded #menu-toggle {
  display: block;
}

.loaded header nav {
  position: relative;
}

.loaded header nav ul {
  background: var(--popup-background);
  border-radius: 0.5em;
  box-shadow: 0 0.125em 0.5em #0002;
  display: none;
  padding: 0.5em;
  position: absolute;
  right: 0;
  top: 100%;
  top: calc(100% + 0.25em);
  z-index: 1;
}

.loaded header nav ul.active {
  display: flex;
}

.loaded header nav ul li {
  flex: 1;
}

.loaded header nav ul li:hover {
  background: #0001;
}

.loaded header nav ul li a {
  color: var(--popup-text);
  padding: 0.7em 2em;
  padding-inline-start: 1em;
}

@media (min-width: 768px) {
  :root {
    --container-max-width: 700px;  
  }  
}

@media (min-width: 1300px) {
  :root {
      --container-max-width: 1200px;
  }

  .loaded #menu-toggle {
    display: none;
  }

  .loaded header nav ul {
    background: transparent;
    box-shadow: none;
    display: flex;
    margin: 0;
    padding: 0;
    position: static;
  }

  .loaded header nav ul li:hover {
    background: transparent;
  }

  .loaded header nav ul li a {
    color: var(--header-text);
    padding: 0.5em 1em;
  }
}