.more-games {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin-block: 0;
}

.more-games > section {
  flex: 1;
}

.more-games h2 {
  align-items: center;
  display: flex;
  gap: 0.25em;
  margin-block-end: 0.75em;
}

.more-games h2::before {
  background: currentcolor;
  content: "";
  display: inline-block;
  height: 1em;
  width: 1em;
}

#previous-games::before {
  mask: url("../media/calendar-full.svg") no-repeat center;
}

#by-category-games::before {
  mask: url("../media/list.svg") no-repeat center;
}

.more-games ul {
  display: flex;
  font-size: 3vmin;
  gap: 1em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.more-games ul li {
  aspect-ratio: 1;
  border: 2px solid;
  border-radius: 0.5em;
  flex: 1;
  
}

.more-games ul li:hover {
  background: var(--accent-text);
  border-color: var(--accent);
}

.more-games ul li a {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5em;
  height: 100%;
  inset: 0;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.more-games ul li a:hover {
  color: var(--accent);
}

.more-games ul li a::before {
  background: currentcolor;
  content: "";
  display: inline-block;
  height: 2em;
  mask-image: url("../media/calendar-full.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  width: 2em;
}

.more-games .previous ul li a::before {
  mask-image: url("../media/calendar-full.svg");
}

.more-games ul li a.tech::before { mask-image: url("../media/laptop.svg"); }
.more-games ul li a.music::before { mask-image: url("../media/music-note.svg"); }
.more-games ul li a.food::before { mask-image: url("../media/dinner.svg"); }
.more-games ul li a.sports::before { mask-image: url("../media/bicycle.svg"); }
.more-games ul li a.world::before { mask-image: url("../media/earth.svg"); }
.more-games ul li a.art::before { mask-image: url("../media/picture.svg"); }

.more-games ul li:last-child a::before {
  mask-image: url("../media/plus-circle.svg");
}

.more-games ul li:nth-child(n + 5) {
  display: none;
}

.more-games ul li:last-child {
  display: list-item;
}

@media (min-width: 768px) {
  .more-games ul li:nth-child(n + 5) {
    display: list-item;
  }

  .more-games ul {
    font-size: 0.9em;
  }
}

@media (min-width: 1300px) {
  .more-games {
    flex-direction: row;
  }

  .more-games ul li:nth-child(n + 5) {
    display: none;
  }
  .more-games ul li:last-child {
    display: list-item;
  }

  .more-games ul {
    font-size: 0.9em;
  }
}